logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
.env
.env.local
.dev.vars
.wrangler/

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

bun.lock
yarn.lock
docs/tasks.md
